.navlink{
    display: flex;
}

.navlink-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navlink-list a{
    padding: 0.5em 1em;
    cursor: pointer;
    color: #FFFF;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    transition: 0.5s ease-in-out    ;
}

.navlink-list a:visited,.navlink-list a:link{
    text-decoration: none;
}

.navlink-list a:hover{
    background: var(--color-herobg);
    color: var(--color-bg);
    transition: 0.5s ease-in-out;
}