.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0em 0em 2em;
}
.header_title{
    color: #FFFF;
    font-size: 28px;
    font-family: "Poppins",sans-serif;
    line-height: 1.5em;
}

.cv-link{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 0.5em 1em;
    cursor: pointer;
    color: #FFFF;
    background-color: var(--color-bg);
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5em;
    margin-right: 4em;
}

.cv-link:active{
    background: var(--color-cont1);
    color: var(--color-bg);
}